*{
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
    display: block;
	color: #000;
}

select{
	width: 211px;
    padding: 3px 5px;
    border: 2px solid;
    margin: 3px 0;
    border-color: #457642;
    border-radius: 30px;
    height: 30px;
}

label{
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    padding: 4px 10px;
}

fieldset{
    border: none;
    width: 96%;
    padding: 0;
    margin: 0 2%;
    color: #000;
}

textarea{
	width: 96%;
	margin: 0 2% 0 2%;
}

input{
    width: 200px;
    margin: 5px 0;
	padding: 5px 4px;
    border: 2px solid;
    border-color: #457642;
    border-radius: 30px;
    height: 15px;
	
}

hr{
		width:96%;
		margin: 2% 2%;
}

.buttons{
    margin: 0 auto;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.enviar{
    width: 150px;
    height: 40px;
    background: #c0ffb0;
    color: #000000a3;
}
.reset{
    width: 150px;
    height: 40px;
    background: #c0ffb0;
    color: #000000a3;
}