*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

header{
    height: 100%;
    position: fixed;
    padding: 0px 3px;
}

p{
    font-family: 'Quicksand', sans-serif;
    padding: 10px 25px;
    text-align: center;
}

.cp{
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    color:#131313a1;
    text-shadow: 2px 2px 2px #55a85c;
}

h1,h2,h3,h4{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 40px;
    color: #55a85c;
}

h1.titulo{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
     background: #00000042;
}

header div.container{
    height: 100%;
    width: auto;
    position: relative;
    margin: 0;
    float: left;
    top: 0;
    background: #f1f1f161;
    padding: 0;
}

header div.container div.logotipo{
    width: 100%;
    margin: 0px auto;
}

div.logotipo img.logotipo{
    margin: 5px auto 5px;
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid #55a85c;
    border-radius: 2px; 
    padding: 10px 0px 0px 0px;
    flex-direction: row;
}

header div.container ul{
    list-style: none;
    padding: 0;
    padding: 50px 0px 150px 0px;
    border: 2px solid #00ff1647;
    border-radius: 8px;
}   

header div.container ul li{
    align-items: center;
    text-align: center;
    display: block;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

header div.container ul li a{
    width: 80%;
    text-decoration: none;
    padding: 6px 7px;
    margin: 0px auto 15px;
    border-radius: 20px;
    color: #000;
    display: block;
    box-shadow: 4px 5px 6px #55a85c;
    background-color: #ffff;
}

main{
    position: absolute;
    left: 230px;
    width: 80%;
    
}

main div.container div.titulo h1{
    text-align: center;
    line-height: 370px;
    color: #ffffff;
    font-size: 50px;
    display: block;
}


main div.container{
    box-shadow: 2px 2px 20px #000;
    padding: 0;
    margin-top: 5px;
    border: 0.1px solid;
    border-radius: 3px;
}

main div.container div.titulo{
    background-color: #55a85c;
    background-image: url("../images/mundo.jpg");
    background-clip: content-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover; 
    display: block;
    float: left;
    opacity: 3;
    background-position: center;
    visibility: 50% 50%;
    width: 100%;
    height: 400px;
}

main div.container ul{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px 0px 100px;
    display: block;
    font-size: 18px;
    background: #00fc2691;
}
main div.container ul li{
    font-family: 'Quicksand', sans-serif;
    padding: 10px 2px;
    color: #585353;
}

#img img.img{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

/*Pseudo classe do CSS Hover*/
header div.container ul li a:hover{
    background:#13e925d4;
    transition: 0.7s;
    color: #fff;
}