*{
    margin: 0;
    padding: 0;
}
p{
    text-align: justify;
}

h2{
    font-size: 35px;
    color:#000;
}

.imagem{
    width: 96%;
    margin: 0 2%;
    text-align: center;
}

.imagem b a{
    display: block;
    text-decoration: none;
    color: #c1c1c2;
}